<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10.3.9</key>
	<string>LSMinimumSystemVersion</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>7zX</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>7zIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>7z archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>s7z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>s7zIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>7z archive (safe)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>7zIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZIP archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>7zIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>gzip compressed archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>7zIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>bzip2 compressed archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>7zIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>unix compressed archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>7zIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>tar archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>001</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>7zIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>archive segment</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7zXtemp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tempIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>7zX temporary file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>7zX</string>
	<key>CFBundleGetInfoString</key>
	<string>7zX 1.7.1 Copyright 2006-2008 Sixty Five, Ltd.</string>
	<key>CFBundleIconFile</key>
	<string>appIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.sixtyfive.7zX</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>7zX</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.1</string>
	<key>CFBundleSignature</key>
	<string>7zX!</string>
	<key>CFBundleVersion</key>
	<string>1.7.1</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSUIElement</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>7zX 1.7.1 Copyright 2006-2008 Sixty Five, Ltd.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>