<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Move</key>
	<array>
		<string>${Library}/CoreData/com.evernote.Evernote</string>
		<string>${ApplicationSupport}/Evernote</string>
		<string>${Caches}/com.evernote.Evernote</string>
		<string>${Caches}/com.evernote.Evernote.Thumbnailer</string>
		<string>${Caches}/Metadata/CoreData/com.evernote.Evernote</string>
	</array>
</dict>
</plist>
