<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newUserItems</key>
	<array>
		<dict>
			<key>id</key>
			<integer>100</integer>
			<key>popoverTarget</key>
			<string>newNoteButton</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>101</integer>
			<key>popoverTarget</key>
			<string>searchField</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>102</integer>
			<key>popoverTarget</key>
			<string>syncButton</string>
			<key>customView</key>
			<string>ExploreEvernoteSync</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>105</integer>
			<key>popoverTarget</key>
			<string>shareNoteButton</string>
			<key>customView</key>
			<string>ExploreEvernoteShare</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>104</integer>
			<key>popoverTarget</key>
			<string>reminderButton</string>
			<key>popoverWidthAdjustment-en</key>
			<integer>25</integer>
		</dict>
	</array>
	<key>upgradingUserItems</key>
	<array>
		<dict>
			<key>id</key>
			<integer>200</integer>
			<key>popoverTarget</key>
			<string>leftNav.shortcuts</string>
			<key>popoverEdge</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>203</integer>
			<key>popoverTarget</key>
			<string>searchField</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>104</integer>
			<key>popoverTarget</key>
			<string>reminderButton</string>
			<key>popoverWidthAdjustment-en</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>201</integer>
			<key>popoverTarget</key>
			<string>leftNav.atlas</string>
			<key>popoverEdge</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>105</integer>
			<key>popoverTarget</key>
			<string>shareNoteButton</string>
			<key>customView</key>
			<string>ExploreEvernoteShare</string>
		</dict>
	</array>
</dict>
</plist>
