<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>getStarted</string>
		<key>image</key>
		<string>fse-get-started</string>
		<key>buttons</key>
		<integer>1</integer>
		<key>spriteViewHeight</key>
		<integer>307</integer>
		<key>headingTopMargin</key>
		<integer>64</integer>
		<key>sprites</key>
		<array>
			<dict>
				<key>image</key>
				<string>fse-welcome-scanner</string>
				<key>center</key>
				<string>{330,106}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>autofileIntro</string>
		<key>image</key>
		<string>fse-get-started</string>
		<key>buttons</key>
		<integer>1</integer>
		<key>spriteViewHeight</key>
		<integer>307</integer>
		<key>sprites</key>
		<array>
			<dict>
				<key>image</key>
				<string>fse-finished-scanner</string>
				<key>center</key>
				<string>{460,120}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-business-cards-back-2</string>
				<key>center</key>
				<string>{416,174}</string>
				<key>rotationDegrees</key>
				<integer>-4</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-documents-recipe</string>
				<key>center</key>
				<string>{262,148}</string>
				<key>rotationDegrees</key>
				<integer>-3</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-photos-4</string>
				<key>center</key>
				<string>{340,164}</string>
				<key>rotationDegrees</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-receipts-2</string>
				<key>center</key>
				<string>{186,94}</string>
				<key>rotationDegrees</key>
				<integer>-7</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-business-cards-back-1</string>
				<key>center</key>
				<string>{132,170}</string>
				<key>rotationDegrees</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>businessCards</string>
		<key>class</key>
		<string>ENFirstScanNotebookStepController</string>
		<key>notebookSource</key>
		<string>scan.businesscard</string>
		<key>notebookIconOffset</key>
		<string>{390, 36}</string>
		<key>buttons</key>
		<integer>1</integer>
		<key>spriteViewHeight</key>
		<integer>260</integer>
		<key>sprites</key>
		<array>
			<dict>
				<key>image</key>
				<string>fse-business-cards-4</string>
				<key>center</key>
				<string>{266,136}</string>
				<key>rotationDegrees</key>
				<integer>-4</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-business-cards-2</string>
				<key>center</key>
				<string>{160,100}</string>
				<key>rotationDegrees</key>
				<integer>-3</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-business-cards-3</string>
				<key>center</key>
				<string>{214,154}</string>
				<key>rotationDegrees</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-business-cards-1</string>
				<key>center</key>
				<string>{244,80}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-business-cards-arrow</string>
				<key>center</key>
				<string>{359,143}</string>
			</dict>
		</array>
		<key>notebookSprite</key>
		<dict>
			<key>center</key>
			<string>{494,98}</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>photos</string>
		<key>class</key>
		<string>ENFirstScanNotebookStepController</string>
		<key>notebookSource</key>
		<string>scan.photo</string>
		<key>notebookIconOffset</key>
		<string>{385, 87}</string>
		<key>buttons</key>
		<integer>1</integer>
		<key>spriteViewHeight</key>
		<integer>260</integer>
		<key>sprites</key>
		<array>
			<dict>
				<key>image</key>
				<string>fse-photos-4</string>
				<key>center</key>
				<string>{158,140}</string>
				<key>rotationDegrees</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-photos-3</string>
				<key>center</key>
				<string>{112,112}</string>
				<key>rotationDegrees</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-photos-1</string>
				<key>center</key>
				<string>{210,80}</string>
				<key>rotationDegrees</key>
				<integer>-7</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-photos-2</string>
				<key>center</key>
				<string>{290,120}</string>
				<key>rotationDegrees</key>
				<integer>-3</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-photos-arrow-top</string>
				<key>center</key>
				<string>{353,197}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-photos-arrow-bottom</string>
				<key>center</key>
				<string>{320,18}</string>
			</dict>
		</array>
		<key>notebookSprite</key>
		<dict>
			<key>center</key>
			<string>{494,98}</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>receipts</string>
		<key>class</key>
		<string>ENFirstScanNotebookStepController</string>
		<key>notebookSource</key>
		<string>scan.receipt</string>
		<key>notebookIconOffset</key>
		<string>{385, 36}</string>
		<key>buttons</key>
		<integer>1</integer>
		<key>spriteViewHeight</key>
		<integer>260</integer>
		<key>sprites</key>
		<array>
			<dict>
				<key>image</key>
				<string>fse-receipts-1</string>
				<key>center</key>
				<string>{166,114}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-receipts-2</string>
				<key>center</key>
				<string>{266,94}</string>
				<key>rotationDegrees</key>
				<integer>-8</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-receipts-arrow</string>
				<key>center</key>
				<string>{350,186}</string>
			</dict>
		</array>
		<key>notebookSprite</key>
		<dict>
			<key>center</key>
			<string>{494,98}</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>documents</string>
		<key>class</key>
		<string>ENFirstScanNotebookStepController</string>
		<key>notebookSource</key>
		<string>scan.document</string>
		<key>notebookIconOffset</key>
		<string>{400, 36}</string>
		<key>buttons</key>
		<integer>1</integer>
		<key>spriteViewHeight</key>
		<integer>260</integer>
		<key>sprites</key>
		<array>
			<dict>
				<key>image</key>
				<string>fse-documents-ideas</string>
				<key>center</key>
				<string>{102,112}</string>
				<key>rotationDegrees</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-documents-recipe</string>
				<key>center</key>
				<string>{200,120}</string>
				<key>rotationDegrees</key>
				<integer>-3</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-documents-chart</string>
				<key>center</key>
				<string>{280,104}</string>
				<key>rotationDegrees</key>
				<integer>-16</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-documents-arrow-top</string>
				<key>center</key>
				<string>{330,186}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-documents-arrow-bottom</string>
				<key>center</key>
				<string>{372,70}</string>
			</dict>
		</array>
		<key>notebookSprite</key>
		<dict>
			<key>center</key>
			<string>{494,98}</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>premium</string>
		<key>class</key>
		<string>ENFirstScanPremiumStepController</string>
		<key>buttons</key>
		<integer>6</integer>
		<key>spriteViewHeight</key>
		<integer>224</integer>
		<key>sprites</key>
		<array>
			<dict>
				<key>size</key>
				<string>{600,224}</string>
				<key>center</key>
				<string>{300,112}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>office_got_evernote</string>
				<key>center</key>
				<string>{300,112}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>finished</string>
		<key>class</key>
		<string>ENFirstScanFinishedStepController</string>
		<key>buttons</key>
		<integer>24</integer>
		<key>spriteViewHeight</key>
		<integer>322</integer>
		<key>sprites</key>
		<array>
			<dict>
				<key>image</key>
				<string>fse-finished-scanner</string>
				<key>center</key>
				<string>{172,120}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-finished-loupe</string>
				<key>center</key>
				<string>{228,100}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-finished-screenshot</string>
				<key>center</key>
				<string>{498,126}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-finished-ui-loupe</string>
				<key>center</key>
				<string>{454,94}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>fse-receipts-arrow</string>
				<key>center</key>
				<string>{346,160}</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
